.places__paragraph {
    margin: 0;
    padding: 0 0 26px 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.63;
}

.places__paragraph:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .places__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .places__paragraph {
        padding-right: 16px;
        padding-left: 16px;
    }
}