.photo-grid {
    margin: 0;
    padding: 92px 48px 0 48px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
    width: calc(100%-96px);
}

@media screen and (min-width: 1025px) {
    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .photo-grid {
        padding: 88px 24px 0 24px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        padding: 64px 16px 0 16px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
        width: calc(100% - 32px);
    }
}