.places__url {
    margin: 0;
    padding: 0 0 12px 0;
    box-sizing: border-box;
    color: #aaaaaa;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.2em;
}
