.lead {
    margin: 0;
    padding: 56px 148px 0 148px;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding: 48px 48px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding-right: 0;
        padding-left: 0;
    }
}
