@media screen and (min-width: 1025px) {

    .lead {
        padding: 56px 148px 0 148px;
    }

    .lead__title {
        padding: 0 132px 0 132px;
    }

    .lead__subtitle {
        padding: 32px 172px 0 172px;
    }
    
    .lead__image {
        padding: 64px 0 0 0;
    }

    .intro {
        padding-left: 148px;
        max-width: 850px;
    }

    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }

    .places {
        padding-right: 148px;
        padding-left: 148px;
    }
    
    .places__place {
        grid-template-columns: repeat(2, fit-content(460px));
        grid-column-gap: 40px;
        grid-row-gap: 48px;
    }
    
    .places__image {
        max-width: 460px;
    }
    
    .places__paragraph {
        padding: 0 0 26px 0;
    }

    .cover {
        padding: 92px 48px 0 48px;
    }
    
    .cover__title {
        padding-top: 245px;
    }
    
    .subtitle {
        padding: 32px 0 245px 0;
    }
}