@media screen and (min-width: 426px) and (max-width: 768px) {

    .header {
        padding: 28px 24px 0 24px;
    }

    .lead {
        padding: 48px 0 0 0;
    }
    
    .lead__title {
        padding: 0 24px 0 24px;
    }

    .lead__subtitle {
        padding-right: 64px;
        padding-left: 64px;
    }

    .lead__image {
        padding: 56px 0 0 0;
    }
    
    .caption {
        padding-left: 24px;
    }
    
    .intro {
        padding: 88px 24px 0 24px;
        max-width: 760px;
    }
    
    .photo-grid {
        padding: 88px 24px 0 24px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
    }
    
    .places {
        padding: 88px 24px 0 24px;
        gap: 73px;
    }
    
    .places__place {
        display: grid;
        grid-template-columns: repeat(2, fit-content(340px));
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        grid-column-gap: 28px;
        grid-row-gap: 48px;
        grid-template-areas:
        "place_title place_website"
        "place_image place_paragraphs";
    }

    .places__image {
        max-width: 340px;
    }

    .places__title {
        font-size: 42px;
        line-height: 1.1;
    }
    
    .cover {
        padding-top: 90px;
    }

    .cover__title {
        padding-top: 115px;
    }

    .subtitle {
        padding: 32px 0 115px 0;
    }
    
    .cover__background {
        padding-top: 90px;
    }
    
    .cover__overlay {
        padding-top: 90px;
    }

    .footer {
        padding: 88px 24px 24px;
    }
}