.lead__title {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 720px;
    align-self: center;
    justify-self: center;
    font-weight: 900;
    font-style: normal;
    font-size: 96px;
    text-align: center;
    line-height: 1.04;
}