.logo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 20%;
}

@media screen and (min-width: 1025px) {
    .logo {
        width: 15%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .logo {
        width: 25%;
    }
}

@media screen and (max-width: 425px) {
    .logo {
        width: 50%;
    }
}