.logo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 15%;
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 19.5%;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 25%;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        width: 40%;
    }
}

@media screen and (max-width: 425px) {
    .logo {
        width: 50%;
    }
}