.intro {
    margin: 0;
    padding: 92px 0 0 148px;
    box-sizing: border-box;
    max-width: 850px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
        max-width: 750px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: 88px;
        padding-right: 24px;
        padding-left: 24px;
        max-width: 755px;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        padding-top: 64px;
        padding-right: 16px;
        padding-left: 16px;
    }
}