.lead__subtitle {
    margin: 0 auto;
    padding: 32px 0 0 0;
    max-width: 640px;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}