.cover {
    margin: 92px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 640px;
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
}

.cover:hover div {
    opacity: 0.3;
}

@media screen and (min-width: 1025px) {
    .cover {
        margin-right: 48px;
        margin-left: 48px;
        min-height: 740px;
    }

}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .cover {
        margin-top: 90px;
        min-height: 480px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin-top: 66px;
        min-height: 200px;
    }
}