.places__place {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, fit-content(440px));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-column-gap: 32px;
    grid-row-gap: 48px;
    grid-template-areas:
    "place_title place_website"
    "place_image place_paragraphs"
}