.places__website {
    grid-area: place_website;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 46px;
}

@media screen and (max-width: 674px) {
    .places__website {
        max-width: 325px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 425px) {
    .places__website {
        padding: 0 16px 0 16px;
        max-width: 320px;
    }
}